<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_ec4be4c0ddc7488f8bbb75da70f5d494 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_ec4be4c0ddc7488f8bbb75da70f5d494" ></div>
        
</body>
<script>    
    
            var map_ec4be4c0ddc7488f8bbb75da70f5d494 = L.map(
                "map_ec4be4c0ddc7488f8bbb75da70f5d494",
                {
                    center: [6.3694, -74.4633],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_1aa7a9c6241f4717a221880051055699 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_ec4be4c0ddc7488f8bbb75da70f5d494);
        
    
            var marker_6df97e7a9b4046fda036a09641ce6046 = L.marker(
                [6.3694, -74.4633],
                {}
            ).addTo(map_ec4be4c0ddc7488f8bbb75da70f5d494);
        
    
        var popup_a1565a852adc4f35b5fcd95ea99e11a0 = L.popup({"maxWidth": "100%"});

        
            var html_c4beea7e407f45d4976d1d213ce5991a = $(`<div id="html_c4beea7e407f45d4976d1d213ce5991a" style="width: 100.0%; height: 100.0%;"><strong>  </strong></div>`)[0];
            popup_a1565a852adc4f35b5fcd95ea99e11a0.setContent(html_c4beea7e407f45d4976d1d213ce5991a);
        

        marker_6df97e7a9b4046fda036a09641ce6046.bindPopup(popup_a1565a852adc4f35b5fcd95ea99e11a0)
        ;

        
    
    
            marker_6df97e7a9b4046fda036a09641ce6046.bindTooltip(
                `<div>
                     Click
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b58fc604b83b4e06a908d377c2ed4a89 = L.marker(
                [0.9731220601906516, 0.6565515701101646],
                {}
            ).addTo(map_ec4be4c0ddc7488f8bbb75da70f5d494);
        
    
        var popup_1ddbaab6b458460fa75e15bd66ae86be = L.popup({"maxWidth": "100%"});

        
            var html_47c0277e6b1247fb9965087c41d2f56e = $(`<div id="html_47c0277e6b1247fb9965087c41d2f56e" style="width: 100.0%; height: 100.0%;"><strong>Helo woreer</strong></div>`)[0];
            popup_1ddbaab6b458460fa75e15bd66ae86be.setContent(html_47c0277e6b1247fb9965087c41d2f56e);
        

        marker_b58fc604b83b4e06a908d377c2ed4a89.bindPopup(popup_1ddbaab6b458460fa75e15bd66ae86be)
        ;

        
    
    
            marker_b58fc604b83b4e06a908d377c2ed4a89.bindTooltip(
                `<div>
                     hello
                 </div>`,
                {"sticky": true}
            );
        
</script>