<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/5/vapor/bootstrap.min.css">
</head>
<body>

 
    <h1>
        <b>SOME INFORMATION ABOUT THE LOCATION</b>
    </h1>

    <div>
        <table>
            <thead>
                <tr>
                    <td><b>DESCRIPTION :   </b></td>
                    <td><b> COORDENATES : </b></td>
                    <td></td>
                    <td></td>
                </tr>            
            </thead>
            <tbody>
                <tr>
                    <td><b> {{ descrip1 }} </b></td>
                    <td><b> {{ temp }} </b></td>
                   <td></td>
                </tr>  
            </tbody>
        </table>

        <iframe src="http://localhost:4000/map2" frameborder="0"  height="500" width="1000" method="GET" >
            
    
        </iframe>
    

        

    </div>

            
</body>
